<!DOCTYPE html>
<html>
  <head>
    <title>Career Guidance</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="topbar">
      <div class="app-name">Career Guidance</div>

      <div class="profile-menu">
        <div class="avatar" onclick="toggleMenu()">H</div>
        <button class="theme-btn" onclick="toggleTheme()">🌙</button>

        <div class="dropdown" id="dropdown">
          <form action="/logout" method="get">
            <button type="submit">Logout</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <h2>Career Guidance System</h2>
        <p class="subtitle">
          Select your skills to receive a personalized career roadmap
        </p>

        <form action="/result" method="POST">
          <label>Your Name</label>
          <input type="text" name="name" required />

          <label>Select Your Skills</label>
          <div class="skills">
            <label class="skill-box">
              <input type="checkbox" name="skills" value="HTML" /> HTML
            </label>
            <label class="skill-box">
              <input type="checkbox" name="skills" value="CSS" /> CSS
            </label>
            <label class="skill-box">
              <input type="checkbox" name="skills" value="JavaScript" />
              JavaScript
            </label>
            <label class="skill-box">
              <input type="checkbox" name="skills" value="Python" /> Python
            </label>
            <label class="skill-box">
              <input type="checkbox" name="skills" value="SQL" /> SQL
            </label>
          </div>

          <button type="submit">Generate Career Roadmap</button>
        </form>
      </div>
    </div>

    <script>
      function toggleMenu() {
        document.getElementById("dropdown").classList.toggle("show");
      }
      function toggleTheme() {
        document.body.classList.toggle("dark");
      }
    </script>
  </body>
</html>
