<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h2>Welcome Back</h2>
        <p class="subtitle">Login to continue</p>

        <form method="POST">
          <label>Username</label>
          <input type="text" name="username" required />

          <label>Password</label>
          <input type="password" name="password" required />

          {% if message %}
          <p class="error">{{ message }}</p>
          {% endif %}

          <button type="submit">Login</button>

          <a href="/signup">Create an account</a>
        </form>
      </div>
    </div>
    <script>
      function toggleTheme() {
        document.body.classList.toggle("dark");
      }
    </script>
  </body>
</html>
