<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <form action="/signup" method="POST">
      <h2>Signup</h2>

      <label>Username</label>
      <input type="text" name="username" required />

      <label>Password</label>
      <input type="password" name="password" required />
      {% if message %}
      <p style="color: red; font-weight: bold">{{ message }}</p>
      {% endif %}

      <button type="submit">Signup</button>

      <p>Already have an account? <a href="/login">Login</a></p>
    </form>
  </body>
</html>
